/*! unflat.css v[AIV]{version}[/AIV] https://areve.github.io/unflatcss/ */

/* unflat-default.scss */

@import '../../node_modules/flatcss/flat.css';


@mixin flat-figure-clone {
  margin: 1em 0;
  border: 1px solid #ccc;
  padding: 1em; 
  border-radius: 0.33333em;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3); 
}


#modal-closed {
  position: fixed;
}

.reveal {
  position: relative;
  outline: none;

  > *:first-child { // the button
    outline: none;
    + * {
      transition: opacity .3s;
      z-index: 100;
      visibility: hidden;
      top: -9999px;
      opacity: 0;
    }
    &:focus { // fallback for browsers without focus-within support
       + * {
        visibility: visible;
        top: 0;
        opacity: 1;
      }
    }
  }

  &:focus-within { // better for accessibility of menus than focus
    > *:first-child { // the button
      + * {
        visibility: visible;
        top: 0;
        opacity: 1;
      }
    }
  }
  &.dropdown {
    > *:first-child { 
      + * {     
        position: absolute; 
      }
      &:focus { 
         + * {
          top: 100%;
        }
      }
    }
  
    &:focus-within { 
      > *:first-child { 
        + * {
          top: 100%;
        }
      }
    }
  }

  &.expand {
    > *:first-child { 
      + * {     
        height: 0;
      }
      &:focus { 
         + * {
          top: 100%;
          height: initial;
        }
      }
    }
  
    &:focus-within { 
      > *:first-child { 
        + * {
          top: 100%;
          height: initial;
        }
      }
    }
  }
}

.modal {
  outline: none;
  visibility: hidden;
  position: fixed;
  top: -9999px;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: opacity .3s;
  z-index: 100;

  header {
    height: 4em;
    padding: 1em 4em 1em 1em;
    margin: -1em;
    border-radius: .5em;
    * {
      margin: 0;
    }
  }

  > * {
    background-color: white;
    position: relative;
    padding: 1em;
    display: table;
    top: 25%;
    margin: auto auto;
    width: fit-content;
  }

  &:before {
    content: ' ';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &.show {
    top: 0;
    visibility: visible;
    opacity: 1;
  }

  [aria-label="Close"] {
    float: right;
    position: absolute;
    top: 1em;
    right: 1em;
  }
}


.menu {
  @include flat-figure-clone;
  list-style: none;
  background-color: #fff;
  margin: 0;
  padding: 0;
  a {
    padding: 0.5em;
    display: block;
    color: #111;
    &:hover {
      background-color: rgba(17, 17, 17, 0.1);
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -.5em;
  > * {
    flex: 0 1 auto;
    width: fit-content;
    margin: .5em;
  }
  > .column {
    flex: 1 1 10%;
    width: initial;
  }
  @media all and (max-width: 800px) {
    // use two columns for everything
    > * {
      flex: 1 1 10%;
      min-width: 34%
    }
  }
  @media all and (max-width: 500px) {
    // use one column
    display: block;
    margin: 0;
    > * {
      margin: 1em 0;
      width: 100%;
    }
  }
}
